<br><br>
<div class="ekart-product-container">
    <!-- <img [src]="product.productImage" alt="Image not available"> -->
    <!-- String interpolation data binding -->
    <!-- <p>Name:{{product.pname}}</p>
    <p>Price:{{'Rs '+product.price}}</p>
    <p>Color:{{product.color}}</p>
    <p>Discounted price:{{getDiscountPrice().toFixed(2)}}</p>
    <p>{{product.inStock>0?'Only '+product.inStock+' items left':' Not in stock'}}</p>
    <button (click)="decreamentCartValue()">-</button>
    <span>{{addToCart}}</span>
    <button (click)="increamentCartValue()">+</button> -->
    <!-- <input [value]="name" (input)="onNameChange($event)"><br>
    <p>Name: {{name}}</p> -->

    <app-search></app-search>
    <!-- <div *ngFor="let item of listOfString">
<p>Current element is : {{item}}</p>
    </div> -->
    <app-product-list></app-product-list>

</div>