/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:wght@100&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
font-family: 'Montserrat',sans-serif;
}
a {
    text-decoration: none;
    padding: 0 10px;
    color: #282828;
}